<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>MAnA Multimedia Artists and Animators</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link href="~/css/chunk-vendors.bf496f44.css" rel="stylesheet">
    <link href="~/css/app.e69f02ba.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>We're sorry but sistema doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="~/js/about.84fd1e3d.js" rel="prefetch"></script>
    <script src="~/js/chunk-2d216214.a631c492.js"></script>
    <script src="~/js/chunk-2d216257.d8c9bc89.js"></script>
    <script src="~/js/chunk-5050bdf0.468c22e7.js"></script>
    <script src="~/js/chunk-vendors.75994692.js"></script>
    <script src="~/js/app.f0fe34b2.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
