<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>MAnA Multimedia Artists and Animators</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link href="~/css/admin~artists~preview.ef1213b9.css" rel="prefetch">
    <link href="~/css/admin~preview.3b8d03e3.css" rel="prefetch">
    <link href="~/css/artists~preview.3bd6f8cc.css" rel="prefetch">
    <link href="~/css/app.97b077af.css" rel="stylesheet">
    <link href="~/css/chunk-vendors.0f667305.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>We're sorry but sistema doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="~/js/admin.c354cdaf.js"></script>
    <script src="~/js/admin~artists~preview.88abb681.js"></script>
    <script src="~/js/admin~preview.86bbb273.js"></script>
    <script src="~/js/artists.4622290c.js"></script>
    <script src="~/js/artists~preview.e9e0b069.js"></script>
    <script src="~/js/chunk-2d216214.a631c492.js"></script>
    <script src="~/js/chunk-2d216257.d8c9bc89.js"></script>
    <script src="~/js/chunk-5050bdf0.468c22e7.js"></script>
    <script src="~/js/preview.0adcbad0.js"></script>
    <script src="~/js/app.b5f22e20.js"></script>
    <script src="~/js/chunk-vendors.dedb1013.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
